/* ---------- Grid do Corpo ----------  */

.grid-container {
    height: 71.6vh;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 16.6% 83.3%;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: "menu-vertical conteudo";
}

.menu-vertical {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: ". . ." ". . .";
    grid-area: menu-vertical;
}

.conteudo {}

.proposta {}

.prazo {}

.pedidos {
    clear: both;
    margin-top: 65px;
}


/* Tabela pedidos */

.pedidos table {
    width: 100%;
    border-top: 1px solid #404A51;
    border-bottom: 1px solid #404A51;
}

.pedidos td {
    width: 25%;
    vertical-align: top;
    text-align: justify;
}

.pedidos ul {
    margin: 0px;
    padding: 5px;
}

table {}

.total {
    font-weight: bold;
    font-size: 20px;
}


/* Link */

a {
    text-decoration: none;
}


/*------ Produto ---------- */

.img-produto {
    width: 150px;
    height: 150px;
    border-color: #404A51;
    border-width: 1px;
    border-style: solid;
    justify-content: center;
}

.img-produto img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* Para apresentacao*/

.grid-container * {
    /* border: 1px solid red; */
    /* position: relative; */
}