.top-header a {
    margin-left: 20px;
    text-decoration: none;
    color: #404A51;
}

.menu {
    float: right;
    margin-right: 30px;
}


/* MENU VERTICAL */

#holder ul li {
    list-style-type: none;
}

#container {
    width: 100%;
}

#wrapper {
    width: 980px;
    margin: 0px auto;
}

#holder ul {
    margin: 0;
    padding: 0;
}

li.pad {
    float: left;
}

#holder li {
    color: #838080;
    text-decoration: none;
    transition: 0.1s;
}

#holder a {
    color: #838080;
    text-decoration: none;
    display: block;
    transition: 0.1s;
}

.pad a {
    padding: 18 17 22 17;
}

#holder ul {
    width: 100%;
}

#holder ul li span {
    padding: 7 0;
}

.pad>a:hover,
.using>li:hover>a {
    background-color: #fee8c4;
}

.vfx ul li a:hover span,
.vfx .using>li:hover>a>span {
    border-bottom: 2px solid #fcb23a;
    transition: 0.1s;
}

.sub-wrapper {
    width: 100%;
    height: auto;
    background-color: #fee8c4;
    position: absolute;
    left: 0;
    border-bottom: 5px solid #fcb23a;
}

.sub-wrapper a:hover {
    color: black;
    transition: 0.3s;
}

#holder ul li>ul {
    position: absolute;
    left: -9000;
}

#holder ul li:hover ul {
    left: 0;
}

.sub-wrapper li {
    float: left;
}